.bite-container {
  display: block;
  position: relative;
  width: 100%;
  min-height: 220px;
  font-family: 'PT Sans', Helvetica Neue, Arial, sans-serif;
}

.bite-container.with-live-preview {
  /*min-height: 110px;*/
}

.bite-container .bite-container-tabs {
  display: block;
  background: #3498db;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
}

.bite-container-tabs .bite-container-tabs-left,
.bite-container-tabs .bite-container-tabs-right {
  display: inline-block;
}

.bite-container-tabs .bite-container-tabs-right {
  float: right;
}

.bite-container-tabs .bite-container-tab,
.bite-container-tabs .bite-container-button,
.bite-container-tabs label {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  text-decoration: none;
  color: #fff;
}

.bite-container .bite-container-tab {
  /*text-transform: uppercase;*/
}

.bite-container .bite-container-tab:hover,
.bite-container .bite-container-tab.active {
  background: #2980b9;
}

.bite-container .bite-container-remove-tab {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 17px;
  text-align: center;
  vertical-align: baseline;
  margin-left: 10px;
  opacity: 0.2;
}

.bite-container .bite-container-remove-tab:hover {
  opacity: 1;
  border-radius: 16px;
  color: #2980b9;
  background: #ffffff;
}

.bite-container .bite-container-button,
.bite-container #bite-add {
  background: #2ecc71;
}

.bite-container .bite-container-button:hover,
.bite-container #bite-add:hover {
  background: #27ae60;
}

.bite-container .bite-container-button#bite-clear {
  background: #2c3e50;
}

.bite-container .bite-container-button#bite-clear:hover {
  background: #c0392b;
}

.bite-container .bite-container-editor,
.bite-container .bite-container-result {
  display: block;
  width: 100%;
  min-height: 188px;
}

.bite-container .bite-container-editor {
  height: calc(100% - 32px);
  z-index: 2;
}

.bite-container .bite-container-result,
.bite-container .bite-container-log {
  height: calc(50% - 32px);
}

.bite-container.with-live-preview .bite-container-editor,
.bite-container.with-live-preview .bite-container-result,
.bite-container.with-live-preview .bite-container-log {
  height: calc(33% - 32px);
  min-height: initial;
  display: block;
}

.bite-container .bite-container-editor {
  background: #1c2834;
}

.bite-container .bite-container-result {
  border: none;
  display: none;
}

.bite-modal-overlay {
  position: absolute;
  top: 32px;
  display: none;
  width: 100%;
  height: calc(100% - 32px);
  z-index: 1001;
  overflow: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.bite-container-add {
  background: #2ecc71;
  color: #fff;
}

.bite-container-add ul {
  display: inline-block;
  width: 48%;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.bite-container-add li {
  padding: 5px 10px;
  text-align: center;
  cursor: default;
}

.bite-container-modes-list li:hover,
.bite-container-libraries-list ul li:hover {
  background: #34495e;
  color: #ecf0f1;
}

.bite-container-libraries-list li {
  display: block;
  width: 100%;
}

.bite-container-libraries-list ul {
  display: block;
  width: 100%;
}

.bite-container-libraries-list ul li {
  display: inline-block;
  width: 10%;
}

.bite-container-libraries-list ul li.used {
  background: #34495e;
  color: #ecf0f1;
  opacity: 0.5;
}

.bite-container-log {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.bite-container-log li {
  padding: 5px;
  border-bottom: solid 1px #95a5a6;
}

.bite-container-log li dl {
  margin: 0;
  padding: 0;
}

.bite-container-log li dt, .bite-container-log li dd {
  display: inline-block;
  padding: 0;
  vertical-align: top;
}

.bite-container-log li dt {
  color: #881391;
}

.bite-container-log li dd {
  margin-left: 5px;
}

.bite-container-log .string,
.bite-container-log .regexp {
  color: #C41A16;
}

.bite-container-log .number,
.bite-container-log .boolean {
  color: #1C00CF;
}

.bite-container-log .null,
.bite-container-log .undefined {
  color: #808080;
}

.bite-container-log .html {
  color: #881280;
}

@media (max-width: 450px) {
  .bite-container-tabs .bite-container-tabs-left,
  .bite-container-tabs .bite-container-tabs-right {
    display: inline-block;
    float: none;
  }
}